@media only screen and (max-width: 500px) {
  .cardbox {
    flex-direction: column;
  }
  #title {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    text-align: center;
  }
  .col-md-6 {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) and (min-width: 500px) {
  .cardbox {
    flex-direction: column;
  }
  #title {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    text-align: center;
  }
  .col-md-6 {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
  #title {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    text-align: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: #fffcf5;
  font-family: "Courier", Courier, monospace;
}

.container {
  flex: 1 0 auto;
  padding: 20px;
}

footer {
  height: 25px;
  text-align: center;
  margin-bottom: 5px;
}

.cardbox {
  display: flex;
  justify-content: center;
}

.card {
  flex: 1;
  margin: 5px;
  background-color: #fffcf5;
  border: black 2px solid;
  margin: 10px;
}

.card-body {
  padding-bottom: 0;
}

.col-md-6 > p {
  margin-left: -2vw;
  border-bottom: black solid 1px;
}

.card-header {
  font-size: 2em;
  text-align: center;
  background-color: #fffcf5;
  border-bottom: black 2px solid;
}

h1 {
  font-size: 7rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.5rem;
  text-align: center;
}

/* formx */
form {
  margin-bottom: 30px;
}
#searchParam {
  border-color: black;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-transform: uppercase;
}

#searchParam:hover {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-left: 0px;
  border-right: 0px;
}

#locate {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: black solid 3px;
}

#search {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: black solid 3px;
}

.btn {
  color: black;
}

.btn:hover {
  width: 100px;
  background-color: burlywood;
  color: black;
}

.fa-heart {
  color: red;
}

#bigTemp {
  font-size: 8vw;
  display: inline;
}

.wi-day-sunny {
  font-size: 8vw;
  margin-bottom: 10px;
}

.col-md-6 {
  padding-left: 1vw;
  margin: auto;
}

#bigtemp2 {
  font-size: 100%;
  display: inline;
}
